[package]
name = "exqs"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "exqs"
path = "src/main.rs"

[dependencies]
calamine = "0.25.0"
comfy-table = "7.1.0"
clap = { version = "4.5.7", features = ["derive"] }
reqwest = { version = "0.12", features = ["blocking"] }

[lib]
name = "exqs"
path = "src/lib.rs"
